@{
    var userName = ViewBag.UserName as string;
    var list = ViewBag.List as List<Article>;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" href="~/images/favicon (2).ico" />
    <style>
        .new-blog {
            padding: 1.0rem 2.5rem;
            margin-top: 4.5rem;
            margin-right: 0;
        }

        .newblog-div {
            text-align: center;
        }


        .new-blog {
            position: fixed;
            margin-left: 0;
        }

        .card {
            margin: 5rem auto 0;
            width: 40rem;
            height: 37rem;
        }

        .cimg {
            width: 700px;
            height: 220px;
        }

        body{
            background-color: #E9F2FF;
        }

        a{
            text-decoration: none;
        }
        
    </style>
</head>
<body>
  @if(!string.IsNullOrEmpty(userName)) { 
    <!-- Navbar Section -->
    @Html.Partial("~/Views/Shared/_navbar.cshtml")
 

        <div class="container new-blog-div">
            <a class="new-blog btn btn-outline-primary" asp-controller="Article" asp-action="AddNewBlog">Add New Blog</a> 
        </div>  




        <section id="card-menu">
            @if (list != null)
            {
                @foreach (var item in list)
                {
            
                    <div class="card mb-3">
                        <img class="card-img-top" src="~/images/@item.Picture" alt="Card image cap">
                        <div class="card-body">
                            <a asp-action="ShowArticle" asp-controller="Article" asp-route-articleId="@item.Id">
                                <h5 class="card-title">@item.Header</h5>
                            </a>
                            <p class="card-text">
                                @item.Content.Substring(0,100)...
                            </p>
                            <p class="card-text"><small class="text-muted">@userName</small></p>
                        </div>
                    </div>
               
                }
            }
            </section>
}
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>